<div class="Footer">
    <div class="footerSections">
        <a>Copyright @ Maria Bilenko</a>
        <a id="time"></a>
        <p>{{processing-time}}</p>


    </div>

</div>
<script src="api/loadScript.js"></script>
