<h1 id="curr_weather">Погода здесь</h1>
<button type="submit" id="update_location_big">Обновить геолокацию</button>
<button type="submit"  id="update_location_small" >
    <img src="public/icons/refresh.png" style=" width: 50px" alt="Icon">
</button>
