<!DOCTYPE html>
<html lang="en">
<head>
    {{> commonIndex}}
    {{> styleIndex }}
    <title>Weather</title>
</head>
<body>
<header>
    {{> header }}
</header>

<main>
    {{> main }}
</main>
<footer>
    {{> footer }}
</footer>

    {{> script }}
</body>

</html>