
*{
    box-sizing: border-box;
    font-family: "Lucida Console", "Courier New", monospace;

}

button {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

h1 {
    font-size: 50px;
}

h2{
    font-size: 30px;
}

h3 {
    font-size: 30px;
}

header{
    padding: 20px;
}

header,main,.icon_temperature,.curr-city,.curr-conditions, .favorite-text, .favorite_buttons{
    flex: 1;
    margin: 20px;
    min-width: 320px;
}

.element-of-main-list{
    min-width: 320px;
}

.main-list{
    flex: 1;
    margin: 10px;
    min-width: 320px;
}







header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

main{
    display: flex;
    flex-wrap: wrap;
}

.icon_temperature{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 210px;
}

.curr-city{
    visibility: collapse;
    height: 350px;
}

.curr-conditions{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    visibility: collapse;
}



.break{
    flex-basis: 100%;
}

.favorite-text{
    height: 70px;
}

.favorite_buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.main-list{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.element-of-main-list{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 430px;
    padding: 0 10px;
    flex-basis: 50%;
}

#favorite-input{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.header_of_city{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    width: 100%;
    visibility: collapse;

}

.conditions{
    visibility: collapse;
    list-style-type: none;
    padding: 0;
    width: 100%;
}

.conditions li {
    display: flex;
    justify-content: space-between;

    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.condition-element {
    background: cornflowerblue;
    margin-bottom: 10px;
    border-radius: 15px;
    border: lightskyblue solid;
}

.curr-temperature {
    font-size: 91px;
    margin: 0 30px;
    color: cornflowerblue;
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: bold;
}

#update_location_big {
    background: cornflowerblue;
    color: white;
    font-size: 20px;
    border-radius: 10px;
    text-decoration: none;
    border: lightskyblue solid;

}

#curr_weather {
    font-size: 40px;
}

.condition_type, .condition_value{
    color: white;
}

#favorite-input-label{
    width: 70%;
}

#favorite-input-value{
    width: 100%;
    padding: 10px 10px;
    font-size: 15px;
}

#favorite-input-button{
    width: 20px;
    height: 20px;
}

.curr-icon{
    width: 150px;
    height: 150px;
}

.temperature {
    font-size: 25px;
    color: lightskyblue;
    font-weight: bold;
}

.icon-header-main-list{
    width: 40px;
    height: 40px;
}


#update_location_small img {
    width: 50px;
    height: 50px;
}


@media all and (min-width: 776px) {

    #update_location_small {
        display: none;
    }
}


@media all and (max-width: 775px) {

    #update_location_big {
        display: none;
    }

    #curr_weather{
      font-size: 24px;
    }

    header{
        padding: 0;
    }

    .curr-name{
        font-size: 22px;
    }

    .curr-city {
        visibility: collapse;
        flex-grow: 10;
    }
    .header_of_city {
        font-size: 45px;
    }

    .temperature{
        font-size: 90px;
    }

    .curr-icon {
        width: 90px;
        height: 90px;
        float: left;
    }

    .conditions li {
        font-size: 14px;
    }

    h3 {
        font-size: 18px;
    }

    .temperature-city-information {
        font-size: 20px;
    }

    .icon-header-main-list {
        width: 40px;
        height: 40px;
    }

    .curr-temperature {
        font-size: 45px;
    }

    header,main,.icon_temperature,.curr-city,.curr-conditions, .favorite-text, .favorite_buttons{
        flex: 1;
        margin: 10px 0;
        min-width: 300px;
    }

    .curr-conditions{
        flex-wrap: wrap;
    }


    .main-list{
        margin: 0;
        flex: 1;
        min-width: 300px;
    }

    .element-of-main-list{
        min-width: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 430px;
        padding: 0 0;
        flex: 1 1;
        flex-basis: 100%;
    }

    .temperature {
        font-size: 20px;
        color: lightskyblue;
        font-weight: bold;
    }

    .curr-break {
        flex-basis: 100%;
        height: 0;
    }

}

.loader {
    position: absolute;
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 50px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

#curr-loader{
    margin-top: 125px;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



